RewriteEngine On
RewriteBase /customphp/

# index => home
RewriteRule ^index/?$ index.php?page=home [L,QSA]

# root => home
RewriteRule ^$ index.php?page=home [L,QSA]

# pretty URLs
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/?$ index.php?page=$1 [L,QSA]